<h1>HOME PAGE</h1>


 <div class="row">
  <div class="col-xs-12 col-md-4">
     <h2>Video Editing</h2>
     <img src="./img/video1.jpg" alt="Video Editing">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
     <br><br><br>
      <p>Video editing is the process of editing segments of motion video production footage, special effects and sound recordings in the post-production process. Motion picture film editing is a predecessor to video editing and, in several ways, video editing simulates motion picture film editing, in theory and the use of linear video editing and video editing software on non-linear editing systems (NLE). Using video, a director can communicate non-fictional and fictional events. The goals of editing is to manipulate these events to bring the communication closer to the original goal or target. It is a visual art.</p>
      <p>Reference: <a href="https://en.wikipedia.org/wiki/Video_editing">Wikipedia.org</a></p>
  </div>
  <div class="col-xs-12 col-md-4">
     <h2>Video History</h2>
     <img src="./img/video2.jpg" alt="Video History">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <br><br><br>
      <p>Video technology was first developed for mechanical television systems, which were quickly replaced by cathode ray tube (CRT) television systems, but several new technologies for video display devices have since been invented. Video was originally exclusively a live technology. Charles Ginsburg led an Ampex research team developing one of the first practical video tape recorder (VTR). In 1951 the first video tape recorder captured live images from television cameras by converting the camera's electrical impulses and saving the information onto magnetic video tape. </p>
      <p>Reference: <a href="https://en.wikipedia.org/wiki/Video">Wikipedia.org</a></p>
  </div>
  <div class="col-xs-12 col-md-4">
     <h2>Video Art</h2>
     <img src="./img/video3.jpg" alt="Video Art">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
     <br><br><br>
      <p>Video art is an art form which relies on using video technology as a visual and audio medium. Video art emerged during the late 1960s as new consumer video technology such as video tape recorders became available outside corporate broadcasting. Video art can take many forms: recordings that are broadcast; installations viewed in galleries or museums; works streamed online, distributed as video tapes, or DVDs; and performances which may incorporate one or more television sets, video monitors, and projections, displaying live or recorded images and sounds.</p>
      <p>Reference: <a href="https://en.wikipedia.org/wiki/Video_art">Wikipedia.org</a></p>
  </div>
</div>


<br>
<br>
<br>
<br>