<h1>PORTFOLIO PAGE</h1>


 <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <img src="./img/video6.jpg" alt="Rent Equipment">
     <h2>Rent Equipment</h2>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-4">
     <img src="./img/video4.jpg" alt="Web Video">
      <h2>Web Video</h2>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <img src="./img/video5.jpg" alt="Software">
     <h2>Software</h2>
     
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <img src="./img/video3.jpg" alt="Video Art">
     <h2>Video Art</h2>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-4">
     <img src="./img/video2.jpg" alt="Previous Work">
      <h2>Previous Work</h2>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-4">
    <img src="./img/video1.jpg" alt="Working Projects">
     <h2>Working Projects</h2>
  </div>
</div>


<br>
<br>
<br>
<br>